.content {
  max-width: 984px;
  padding-top: 92px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 90px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .content {
    padding: 64px 16px 0;
  }
}

.foto-grid {
  margin: auto;
  max-width: 1184px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, 213px);
  gap: 16px;
}

.foto-grid__image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}



.place {
  margin: auto;
  max-width: 990px;
  width: 100%;
  display: grid;
  gap: 40px 48px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "title artist" "image description" "buttom description" ;
}
.places {
  padding-top: 30px;
  margin: auto;
  max-width: 985px;
  width: 100%;
}

.place__title {
  margin: 0;
  justify-content: center;
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  width: 460px;
  grid-area: title;
}
.place__image {
  max-width: 460px;
  width: 100%;
  grid-area: image;
  aspect-ratio: 1;
  
  
}
.place__paragraph {
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  grid-area: description;
 }
  .place__artis {
    margin: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
   
    align-items: end;
    grid-area: artist;
  }
.places__artis {
  max-width: 456px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.place__url-heading {
  color:  #AAAAAA;  
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: left;


}





.place__button {
  
  grid-area: buttom;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  color: white;
  max-width: 290px;
  width: 100%;
  border-radius: 4px;
  align-self: start;
 

}

.place__button-title{
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;

}

.place__content {
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 485px;
  width: 100%;
  grid-row-start: 2;
  grid-row-end: 4;
}