.intro {
    margin: auto;
  
  max-width: 830px;
  
  
}

.intro__title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
}

.intro__article {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}

.intro__article-tagname {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
}

.intro__review {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
}

.content {
  padding-top: 92px;
  padding-left: 148px;
  padding-right: 302px;


}