.foto-grid {
  margin: auto;
  max-width: 1184px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.foto-grid__image {
  width: 100%;

}




@media screen and (max-width: 760px) {
  .foto-grid {
    margin: auto;
    max-width: 720px;
    min-width: 320px;
    width: 100%;
    display: flex;
      flex-direction: column;
      gap: 16px;
    }
    
  }
 
  


  @media screen and (max-width: 320px) {
    .foto-grid {
      margin: auto;
      max-width: 320px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
   
    .foto-grid__image {
      max-width: 320px;
      width: 100%;
    
    }
    
    }
  

